$board-bg-color: #0079bf;
$gap: 10px;
$column-header-height: 46px;
$column-footer-height: 46px;

body {
  font-size: 14px;
  line-height: 1.3rem;
}


.trello-master {
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;
  height: 100vh;

  .navbar {
    display: flex;
    align-items: center;
    padding-left: $gap;

    &.app {
      background-color: red;
      font-size: 1.5rem;
    }

    &.board {
      background-color: $board-bg-color;
      font-size: 1.3rem;
    }
  }

  .board-colums {
    display: flex;
    overflow-x: auto;

    .column {
      width: 300px;
      flex: 0 0 auto;
      height: calc(100% - #{$gap});
      &:not(:first-child) {
        margin-left: $gap;
      }

      >* {
        background-color: #fff;
        color: #333;
        padding: 0px 8px;
      }

      header {
        padding: 15px;
        font-size: 16px;
        font-weight: bold;
        height: $column-header-height;
        line-height: $column-header-height;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }

      footer {
        padding-left: $gap;
        height: $column-footer-height;
        line-height: $column-footer-height;
        // border-top-left-radius: 46px;
        // border-top-right-radius: 46px;
      }

      ul {
        list-style-type: none;
        overflow-y: auto;
        margin: 0;
        max-height: calc(100% - #{$column-header-height} -#{$column-footer-height});

        &::-webkit-scrollbar {
          -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
          width: 11px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: black;
        }

        li {
          background-color: white;
          padding: $gap;
          background-color: #80808052;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

          &:not(:last-child) {
            margin-bottom: $gap;
          }

          img {
            display: block;
            width: calc(100% + 2 * #{$gap});
            margin: -$gap 0 $gap (
              -$gap
            );
        }
      }
    }
  }
}



}